.about {
    background-color: $color-background;
    color: #fff;
    padding: 40px 0 0;
    position: relative;

    @include mq('medium') {
        .container {
            display: flex;
            flex-direction: row;
            .welcome, .clients {
                flex: 1 200px;
            }
        }
    }

    a:not(.btn) {
        color: #fff;
        text-decoration: none;

        &:hover {
           text-decoration: underline;
        }
    }

    .google-reviews {
        @include button($color-google-review);
    }
    .trustpilot-reviews {
        @include button($color-trustpilot-review);
    }
    .welcome-btns {
        margin-bottom: 40px;
    }
    .clients-btns {
        margin-top: 45px;
        padding-bottom: 45px;
    }


    h1 {
        font-size: 36px;
        margin: 0 0 32px;
        font-weight: 600;
    }
    p {
        line-height: 1.865em;
        letter-spacing: 0.4px;
        font-weight: 400;
        margin: 0 0 25px;
        strong {
            font-weight: 600;
        }
        em {
            font-weight: 600;
            font-style: italic;
            font-size: 23px;
            // line-height: 2rem;
        }
    }
    .client-quote {
        font-size: 18px;
        color: #a3a8ac;
        font-weight: 600;
        a {
            font-weight: 600;
        }
    }

    .star {
        color: orange;
        font-size: 50px;
        margin: -25px 0 16px;
        padding: 0;
        .icon-star {
            @include icon("\F005");
            margin-right: 5px;
        }
    }


}