.about {
    background-color: $color-background;
    color: #fff;
    padding: 50px 0 0;
    position: relative;

    @include mq('medium') {
        .container {
            padding-left: 0;
            padding-right: 0;
            display: flex;
            flex-direction: row;
            .welcome, .clients {
                flex: 1 200px;
                display: flex;
                flex-direction: column;
                padding: 0 15px;

            }
        }
    }

    a:not(.btn) {
        color: #fff;
        text-decoration: none;

        &:hover {
           text-decoration: underline;
        }
    }

    .google-reviews {
        @include button($color-google-review);
    }
    .trustpilot-reviews {
        @include button($color-trustpilot-review);
        margin-right: 0;
    }
    .btn {
        white-space: nowrap;
        max-width: fit-content;
    }
    .clients-btns, .welcome-btns {
        margin-top: auto;
        padding-bottom: 32px;
    }


    h1 {
        font-size: rems(36px);
        line-height: rems(39.6px);
        margin: -6px 0 40px;
        font-weight: 600;
    }
    .clients {
        h1 {
            margin: -6 0 40px;
        }
    }
    p {
        font-size: rems(16px);
        line-height: rems(30px);
        letter-spacing: 0.4px;
        font-weight: 400;
        margin: 0 0 25px;
        strong {
            font-weight: 600;
        }
        em {
            font-weight: 600;
            font-style: italic;
            font-size: rems(20.8px);
        }
    }
    .client-quote {
        font-size: rems(18px);
        color: #a3a8ac;
        font-weight: 600;
        a {
            font-weight: 600;
        }
        margin: 2px 0 27px;
    }

    .star {
        color: orange;
        font-size: rems(50px);
        margin: -15px 0 12px;
        padding: 0;
        .icon-star {
            @include icon("\F005");
            margin-right: 5px;
        }
    }


}