.banner {
    color: #fff;
    height: 550px;
    background-image: url('../img/home-YLei.webp');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        background-color: rgba(#000, 0.5);
        @include mq('medium') {
            background: linear-gradient(270deg, transparent 25%, #000);
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        height: 550px;
        z-index: 5;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
    }
    text-align: center;


    h1 {
        font-size: rems(40px);
        line-height: rems(48px);
        letter-spacing: 0.4px;
        margin: 0 0 20px;
        font-weight: 600;
    }

    p {
        font-size: rems(20px);
        line-height: rems(28px);
        font-weight: 600;
        margin-bottom: calc(#{rems(5.2px)} + 31px);
    }

    a {
        @include button(#926fb1);
    }

    .banner-overlay {
        margin: auto;
    }

    .banner-selector {
        text-align: center;
        display: block;
        position: absolute;
        bottom: 44px;
        left: 0;
        margin: 0 0 8px;
        width: 100%;
        .banner-circle {
            display: inline-block;
            background-color: rgba(#fff, 0.5);
            z-index: 100;
            width: 11px;
            height: 11px;
            margin: 0 10px;
            border-radius: 50%;
            cursor: pointer;
            &:nth-child(1) { // current active banner menu (except I'm just using a static background)
                position: relative;
                background-color: #fff;
                &::after {
                    content: "";
                    position: absolute;
                    top: -6px;
                    left: -6px;
                    width: 19px;
                    height: 19px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                }
            }
        }
    }

    @include mq('medium') {
        text-align: left;
        h1 {
            font-size: rems(64px);
            line-height: rems(80px);
            width: 940px;
        }
        p {
            font-size: rems(26px);
        }
    }
    @include mq('large') {
        h1 {
            width: 1170px;
        }
    }
}