.contact {
    @include mq('large') {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        grid-template-areas: 'form form hours';
    }
    width: 100%;
    margin-bottom: 50px;

    .hours {
        grid-area: hours;
        p {
            color: #666;
            font-size: rems(16px);
            line-height: rems(30px);
            letter-spacing: 0.4px;

            margin: 0;
            margin-bottom: 25px;

            strong {
                color: $color-background;
                font-size: inherit;
                font-weight: 600;
        
            }

            a.email-link, a.phone-link {
                color: $color-purple;
                font-size: rems(26px);
                font-weight: 600;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        #ooh-button {
            cursor: pointer;
        }
        #out-of-hours {
            max-height: 0;
            overflow-y: hidden;
            transition: 0.5s ease;
        }
    }
}