.dropdowns {
    background-color: $color-background;
    color: #fff;
    display: none;

    .dropdown-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 32px;


    }

    @media (min-width: $breakpoint-large) {
        display: block;
    }
}