footer {
   background-color: $color-background-footer;
   color: #fff;
   padding: 30px 0 0;

   h4 {
      text-transform: uppercase;
      font-size: rems(16px);
      font-weight: 400;
      margin-bottom: 26px;
      margin-top: 0;
      padding-top: 0;
   }

   .footer-row {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .footer-menu {
         flex: 100%;
         margin-bottom: 26px;
         
         @include mq('small') {
            flex: 50%;
         }

         @include mq('medium') {
            flex: 25%;
         }

         @include mq('large') {
            margin-bottom: 40px;
         }


         ul {
            margin: 0;
            padding: 0;
         }
         
         li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            line-height: rems(21px);
         }

         a {
            color: #fff;
            text-decoration: none;
            font-size: rems(13px);
            letter-spacing: 0.4px;


            &:hover {
               text-decoration: underline;
            }
         }
      }

   }
   .footer-company {
      max-width: 400px;
      img {
         max-width: 80%;
      }
      h4 {
         margin-top: 12px;
      }

      .footer-social-media {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-gap: 8px;
         margin-top: 0;
         margin-bottom: 36px;
         width: 280px;
         font-size: rems(26px);


         .fb {
            &:hover {
               background-color: $color-facebook;
            }
         }
         .icon-fb {
            @include icon("\E907");
         }
         .li {
            &:hover {
               background-color: $color-linkedin;
            }
         }
         .icon-li {
            @include icon("\F0E1");
         }
         .tw {
            &:hover {
               background-color: $color-twitter;
            }
         }
         .icon-tw {
            @include icon("\E90B");
         }
         .in {
            &:hover {
               background-color: $color-instagram;
            }
         }
         .icon-in {
            @include icon("\E909");
         }

         a {
            color: #fff;
            text-decoration: none;
            background-color: $color-button-socialmedia;
            display: block;
            height: 56px;
            padding-top: 12px;
            text-align: center;
         }
         @media (max-width: 480px) {
            grid-template-columns: 1fr 1fr;
            width: 136px;
         }
      }
   }
   .container {
      @include mq('large') {
         display: flex;
         flex-direction: row;
      }
   }
}

.copyright {
   margin: 0;
   background-color: $color-copyright-background;
   color: #fff;
   padding: 15px 0 10px;
   width: 100%;
   font-size: rems(13px);
   line-height: rems(18.5714px);
   p {
      margin: 0;
   }
   a {
      color: #fff;
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }
   .copyright-- {
      display: none;
   }
   @include mq('small') {
      .copyright-newline {
         display: none;
      }
      .copyright-- {
         display: inline;
      }
   }
}