footer {
   background-color: $color-background;
   color: #fff;
   padding: 30px 0 0;

   h4 {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 26px;
      margin-top: 0;
      padding-top: 0;
   }

   .footer-row {
      display: flex;
      flex-wrap: wrap;

      .footer-menu {
         flex: 100%;
         margin-bottom: 26px;
         
         @media (min-width: $breakpoint-small) {
            flex: 50%;
         }

         @media (min-width: $breakpoint-medium) {
            flex: 25%;
         }

         @media (min-width: $breakpoint-large) {
            margin-bottom: 40px;
         }


         ul {
            margin: 0;
            padding: 0;
         }
         
         li {
            list-style-type: none;
            margin: 0;
            padding: 0;
            line-height: 21px;
         }

         a {
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            letter-spacing: 0.4px;


            &:hover {
               text-decoration: underline;
            }
         }
      }

   }
   .footer-company {
      .footer-social-media {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr 1fr;
         gap: 8px;
         margin-top: 0;
         margin-bottom: 36px;
         max-width: 0px;
         font-size: 26px;

         .icon-fb {
            @include icon("\E907");
         }
         .icon-l {
            @include icon("\F0E1");
         }
         .icon-tw {
            @include icon("\E90B");
         }
         .icon-in {
            @include icon("\E909");
         }

         a {
            color: #fff;
            text-decoration: none;
            background-color: $color-button-dark;
            display: block;
            width: 64px;
            height: 56px;
            padding-top: 12px;
            text-align: center;
         }
         @media (max-width: 480px) {
            grid-template-columns: 1fr 1fr;
         }
      }
   }
}