@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff') format('woff');
    // src: url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'glyphicons';
    src: url('../fonts/glyphicons-halflings-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'material design';
    src: url('../fonts/Material-Design-Icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@mixin icon($icon) {
    &::before {
        font-family: 'icomoon', 'glyphicons', 'fontawesome', 'material design';
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        content: $icon;
    }
}

.icon-right {
    @include icon("\E906");
}