
#manage-consent {
    display: block;
    color: #fff;
    background-color: $color-manage-consent;
    border-radius: 0 10px 0 0;
    position: fixed;
    border-width: 1px 1px 0 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    border: solid $color-manage-consent;
    font-weight: 600;
    padding: 0 10px;
    cursor: pointer;
    

    &:hover {
        background-color: $color-button-grey;
        border-color: $color-button-grey;
    }
}

#header {
    padding-top: 20px;
    transition: 0.25s ease;
    background-color: #fff;
    position: sticky;
    // top: -225px;
    top: -700px;
    z-index: 100;
    &.sticky {
        top: 0;
    }
}