.partners, .cases {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 100px;
    overflow-x: hidden;
    margin: 16px 0 44px;
}

.partners {
    .partner-img {
        filter: grayscale(100%);
        &:hover {
            filter: none;
        }

    }

}

.cases {
    .cases-img {
        filter: grayscale(100%);
        &:hover {
            filter: none;
        }
    }
}