
@mixin service($color) {
    display: block;
    position: relative;
    top: 0;
    transition: .5s ease;
    border: 0.5px solid #ccc;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    margin: 30px 0;
    @include mq('small') {
        margin: 0; // no margin when in grid
    }

    .icon {
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        color: #fff;
        background-color: $color;
        margin: 0 auto 17px;
        font-size: rems(32px);
        line-height: rems(62px);
    }
    h2 {
        font-size: rems(20.8px);
        padding: 0 0 10px;
        margin: 0 0 11px;
        line-height: rems(22.88px);
        letter-spacing: 0.4px;
        float: none;
    }
    p {
        font-size: rems(13px);
        font-weight: 400;
        line-height: rems(22px);
        letter-spacing: 0.4px;
        margin-top: 0;
    }
    .service-btn {
        @extend %btn-small;
        @if ($color == $color-grey) {
            background-color: $color-yellow;
        } @else {
            background-color: $color;
        }
        margin: 0;
    }
    &:hover {
        color: #fff;
        background-color: $color;
        top: -10px;
        .icon {
            color: $color;
            background-color: #fff;
        }
        .service-btn {
            color: $color;
            background-color: #fff;
        }
        h2 {
            color: #fff;
        }
    }
}

.services {
    padding-top: 50px;
    h2 {
        color: $color-background;
        font-size: rems(43.2px);
        line-height: rems(47.52px);
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 15px;
        @include mq('small') {
            float: left;
        }
    }
    h3 {
        font-size: rems(26px);
        font-weight: 600;
        margin: 36px 0 8px;
        line-height: rems(1px);
        text-align: center;
    }
    h1 {
        font-size: rems(36px);
        font-weight: 600;
        line-height: rems(1px);
    }

    .services-view {
        a {
            color: $color-background;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        &.top {
            margin: 36px 0 0;
            display: none;
            float: right;
        }
        @include mq('small') {
            &.top {
                display: inline;
            }

            &.bottom  {
                display: none
            }
        }
    }

    .service-grid {
        margin-top: 50px;
        @include mq('small') {
            display: grid;
            grid-gap: 30px;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, auto);
            grid-template-areas: "bespoke bespoke" "IT IT" "marketing marketing" "telecoms web" "security training";
            margin-bottom: 100px;
        }
        @include mq('medium') {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, auto);
            grid-template-areas: "bespoke bespoke IT IT marketing marketing" "telecoms telecoms telecoms web web web" "security security security training training training";
        }
        @include mq('large') {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-template-areas: "bespoke bespoke bespoke bespoke IT IT IT IT marketing marketing marketing marketing" "telecoms telecoms telecoms web web web security security security training training training";
        }
        
    }

    @each $key, $value in $colors {
        .service.#{$key} {
            @include service($value);
        }
    }
    .service.bespoke {
        .icon {
            @include icon("\E918");
        }
        grid-area: bespoke;
    }
    .service.IT {
        .icon {
            @include icon("\E905");
        }
        grid-area: IT;
    }
    .service.marketing {
        .icon {
            @include icon("\E904");
        }
        grid-area: marketing;
    }
    .service.telecoms {
        .icon {
            @include icon("\E902");
        }
        grid-area: telecoms;
    }
    .service.web {
        .icon {
            @include icon("\E908");
        }
        grid-area: web;
    }
    .service.security {
        .icon {
            @include icon("\E900");
        }
        grid-area: security;
    }
    .service.training {
        .icon {
            @include icon("\E8DE");
        }
        grid-area: training;
    }
}