
@mixin service($color) {
    display: block;
    position: relative;
    top: 0;
    transition: .5s ease;
    border: 0.5px solid #ccc;
    border-radius: 20px;
    margin: 25px 0;
    padding: 30px;
    text-align: center;

    .icon {
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        color: #fff;
        background-color: $color;
        margin: 0 auto 10px;
        font-size: 32px;
        line-height: 62px;
    }
    h2 {
        font-size: 28px;
        margin: 0 0 21px;
    }
    p {
        font-size: 13px;
        line-height: 22px;
    }
    .service-btn {
        @extend %btn-small;
        @if ($color == $color-grey) {
            background-color: $color-yellow;
        } @else {
            background-color: $color;
        }
        margin: 0;
    }
    &:hover {
        color: #fff;
        background-color: $color;
        top: -10px;
        .icon {
            color: $color;
            background-color: #fff;
        }
        .service-btn {
            color: $color;
            background-color: #fff;
        }
    }
}

.services {
    margin-top: 50px;
    h2 {
        font-size: 43px;
        font-weight: 400;
        margin-top: 0;
    }
    h3 {
        font-size: 26px;
        font-weight: 600;
        margin: 0 0 30px;
        line-height: 1.1;
        text-align: center;

        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @each $key, $value in $colors {
        .service.#{$key} {
            @include service($value);
        }
    }
    .service .bespoke {
        @include icon("\E918");
    }
    .service .IT {
        @include icon("\E905");
    }
    .service .marketing {
        @include icon("\E904");
    }
    .service .telecoms {
        @include icon("\E902");
    }
    .service .web {
        @include icon("\E908");
    }
    .service .security {
        @include icon("\E900");
    }
    .service .training {
        @include icon("\E8DE");
    }
}