
@mixin service($color) {
    display: block;
    position: relative;
    top: 0;
    transition: .5s ease;
    border: 0.5px solid #ccc;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    margin: 25px 0;
    @include mq('small') {
        margin: 0; // no margin when in grid
    }

    .icon {
        display: block;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        color: #fff;
        background-color: $color;
        margin: 0 auto 10px;
        font-size: 32px;
        line-height: 62px;
    }
    h2 {
        font-size: 28px;
        margin: 0 0 21px;
        float: none;
    }
    p {
        font-size: 13px;
        line-height: 22px;
    }
    .service-btn {
        @extend %btn-small;
        @if ($color == $color-grey) {
            background-color: $color-yellow;
        } @else {
            background-color: $color;
        }
        margin: 0;
    }
    &:hover {
        color: #fff;
        background-color: $color;
        top: -10px;
        .icon {
            color: $color;
            background-color: #fff;
        }
        .service-btn {
            color: $color;
            background-color: #fff;
        }
    }
}

.services {
    margin-top: 50px;
    h2 {
        font-size: 43px;
        font-weight: 400;
        margin-top: 0;
        float: left;
    }
    h3 {
        font-size: 26px;
        font-weight: 600;
        margin: 0 0 30px;
        line-height: 1.1;
        text-align: center;
    }
    h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.1;
    }

    .services-view {
        a {
            color: inherit;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }

        &.top {
            display: none;
            float: right;
        }
        @include mq('small') {
            &.top {
                display: inline;
            }

            &.bottom  {
                display: none
            }
        }
    }

    .service-grid {
        @include mq('small') {
            display: grid;
            grid-gap: 25px;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas: "bespoke bespoke" "IT IT" "marketing marketing" "telecoms web" "security training";
            margin-bottom: 100px;
        }
        @include mq('medium') {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "bespoke bespoke IT IT marketing marketing" "telecoms telecoms telecoms web web web" "security security security training training training";
        }
        @include mq('large') {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: "bespoke bespoke bespoke bespoke IT IT IT IT marketing marketing marketing marketing" "telecoms telecoms telecoms web web web security security security training training training";
        }
        
    }

    @each $key, $value in $colors {
        .service.#{$key} {
            @include service($value);
        }
    }
    .service.bespoke {
        .icon {
            @include icon("\E918");
        }
        grid-area: bespoke;
    }
    .service.IT {
        .icon {
            @include icon("\E905");
        }
        grid-area: IT;
    }
    .service.marketing {
        .icon {
            @include icon("\E904");
        }
        grid-area: marketing;
    }
    .service.telecoms {
        .icon {
            @include icon("\E902");
        }
        grid-area: telecoms;
    }
    .service.web {
        .icon {
            @include icon("\E908");
        }
        grid-area: web;
    }
    .service.security {
        .icon {
            @include icon("\E900");
        }
        grid-area: security;
    }
    .service.training {
        .icon {
            @include icon("\E8DE");
        }
        grid-area: training;
    }
}