
#not-side-menu {
    transition: 0.5s ease;
    transform: translateX(0vw);
    overflow-x: hidden;

    &.menu-open {
        cursor: pointer;
        transform: translateX(-258px);
        @include mq('medium') {
            transform: translateX(-333px);
        }
    }
}

#side-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-background;
    height: 100vh;
    width: 258px;
    @include mq('medium') {
        width: 333px;
    }
    transition: 0.5s ease;
    transform: translateX(258px);
    @include mq('medium') {
        transform: translateX(333px);
    }
    &.menu-open {
        transform: translateX(0);
        box-shadow: 0 0 0 100000vw rgba(#000, 0.5);
    }
}
