// Variables

// Colors

$color-background: #333645;
$color-background-footer: #323544;

$color-button-dark: #272936;
// $color-button-dark-hover: #121318;
$color-button-grey: #999aa2;

$color-grey: #67809f;
$color-yellow: #f7b322;
$color-blue: #4183d7;
$color-green: #2ecc71;
$color-red: #d64541;
$color-purple: #926fb1;
$color-pink: #f62459;
$color-orange: #ce4125;

$colors: (
    'grey': $color-grey,
    'blue': $color-blue,
    'green': $color-green,
    'red': $color-red,
    'purple': $color-purple,
    'pink': $color-pink,
    'orange': $color-orange,
);

$color-manage-consent: #75788a;

$color-google-review: #4387f6;
$color-trustpilot-review: #00b67b;

$color-button-socialmedia: #212330;
$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-twitter: #00aced;
$color-instagram: #d93175;

$color-copyright-background: #212330;

// Breakpoints

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1260px;
