@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* line 3, ../../html_css_assessment/website/scss/_layout.scss */
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
}

/* line 9, ../../html_css_assessment/website/scss/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../../html_css_assessment/website/scss/_layout.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  /* line 13, ../../html_css_assessment/website/scss/_layout.scss */
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  /* line 13, ../../html_css_assessment/website/scss/_layout.scss */
  .container {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  /* line 13, ../../html_css_assessment/website/scss/_layout.scss */
  .container {
    width: 1200px;
  }
}

/* line 2, ../../html_css_assessment/website/scss/_buttons.scss */
.btn, .services .service.grey .service-btn, .services .service.blue .service-btn, .services .service.green .service-btn, .services .service.red .service-btn, .services .service.purple .service-btn, .services .service.pink .service-btn, .services .service.orange .service-btn, .banner a, .about .google-reviews, .about .trustpilot-reviews {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.25em;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  padding: 14px 32px;
  margin: 0 8px 16px 0;
}

/* line 12, ../../html_css_assessment/website/scss/_buttons.scss */
.btn::after, .services .service.grey .service-btn::after, .services .service.blue .service-btn::after, .services .service.green .service-btn::after, .services .service.red .service-btn::after, .services .service.purple .service-btn::after, .services .service.pink .service-btn::after, .services .service.orange .service-btn::after, .banner a::after, .about .google-reviews::after, .about .trustpilot-reviews::after {
  content: "";
}

/* line 25, ../../html_css_assessment/website/scss/_buttons.scss */
.btn {
  background-color: #272936;
}

/* line 20, ../../html_css_assessment/website/scss/_buttons.scss */
.btn:hover {
  background-color: #16171e;
}

/* line 29, ../../html_css_assessment/website/scss/_buttons.scss */
.services .service.grey .service-btn, .services .service.blue .service-btn, .services .service.green .service-btn, .services .service.red .service-btn, .services .service.purple .service-btn, .services .service.pink .service-btn, .services .service.orange .service-btn {
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 3px;
  line-height: 35px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.icon-right::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 1, ../../html_css_assessment/website/scss/_banner.scss */
.banner {
  color: #fff;
  height: 550px;
  background-image: url("../img/home-YLei.webp");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

/* line 7, ../../html_css_assessment/website/scss/_banner.scss */
.banner .container {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0;
  height: 550px;
}

/* line 17, ../../html_css_assessment/website/scss/_banner.scss */
.banner h1 {
  font-size: 40px;
  line-height: 3rem;
  margin: 0 0 20px;
  font-weight: 600;
}

/* line 24, ../../html_css_assessment/website/scss/_banner.scss */
.banner p {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin: 0 0 25px;
}

/* line 31, ../../html_css_assessment/website/scss/_banner.scss */
.banner a {
  background-color: #926fb1;
}

/* line 20, ../../html_css_assessment/website/scss/_buttons.scss */
.banner a:hover {
  background-color: #7e57a0;
}

/* line 35, ../../html_css_assessment/website/scss/_banner.scss */
.banner .banner-overlay {
  margin: auto;
}

/* line 39, ../../html_css_assessment/website/scss/_banner.scss */
.banner .banner-selector {
  margin: 0 0 8px;
}

/* line 56, ../../html_css_assessment/website/scss/_services.scss */
.services {
  margin-top: 50px;
}

/* line 58, ../../html_css_assessment/website/scss/_services.scss */
.services h2 {
  font-size: 43px;
  font-weight: 400;
  margin-top: 0;
}

/* line 63, ../../html_css_assessment/website/scss/_services.scss */
.services h3 {
  font-size: 26px;
  font-weight: 600;
  margin: 0 0 30px;
  line-height: 1.1;
  text-align: center;
}

/* line 70, ../../html_css_assessment/website/scss/_services.scss */
.services h3 a {
  color: inherit;
  text-decoration: none;
}

/* line 73, ../../html_css_assessment/website/scss/_services.scss */
.services h3 a:hover {
  text-decoration: underline;
}

/* line 79, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey {
  display: block;
  position: relative;
  top: 0;
  transition: .5s ease;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  margin: 25px 0;
  padding: 30px;
  text-align: center;
}

/* line 13, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey .icon {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  background-color: #67809f;
  margin: 0 auto 10px;
  font-size: 32px;
  line-height: 62px;
}

/* line 24, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey h2 {
  font-size: 28px;
  margin: 0 0 21px;
}

/* line 28, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey p {
  font-size: 13px;
  line-height: 22px;
}

/* line 32, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey .service-btn {
  background-color: #f7b322;
  margin: 0;
}

/* line 41, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey:hover {
  color: #fff;
  background-color: #67809f;
  top: -10px;
}

/* line 45, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey:hover .icon {
  color: #67809f;
  background-color: #fff;
}

/* line 49, ../../html_css_assessment/website/scss/_services.scss */
.services .service.grey:hover .service-btn {
  color: #67809f;
  background-color: #fff;
}

/* line 79, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue {
  display: block;
  position: relative;
  top: 0;
  transition: .5s ease;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  margin: 25px 0;
  padding: 30px;
  text-align: center;
}

/* line 13, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue .icon {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  background-color: #4183d7;
  margin: 0 auto 10px;
  font-size: 32px;
  line-height: 62px;
}

/* line 24, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue h2 {
  font-size: 28px;
  margin: 0 0 21px;
}

/* line 28, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue p {
  font-size: 13px;
  line-height: 22px;
}

/* line 32, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue .service-btn {
  background-color: #4183d7;
  margin: 0;
}

/* line 41, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue:hover {
  color: #fff;
  background-color: #4183d7;
  top: -10px;
}

/* line 45, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue:hover .icon {
  color: #4183d7;
  background-color: #fff;
}

/* line 49, ../../html_css_assessment/website/scss/_services.scss */
.services .service.blue:hover .service-btn {
  color: #4183d7;
  background-color: #fff;
}

/* line 79, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green {
  display: block;
  position: relative;
  top: 0;
  transition: .5s ease;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  margin: 25px 0;
  padding: 30px;
  text-align: center;
}

/* line 13, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green .icon {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  background-color: #2ecc71;
  margin: 0 auto 10px;
  font-size: 32px;
  line-height: 62px;
}

/* line 24, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green h2 {
  font-size: 28px;
  margin: 0 0 21px;
}

/* line 28, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green p {
  font-size: 13px;
  line-height: 22px;
}

/* line 32, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green .service-btn {
  background-color: #2ecc71;
  margin: 0;
}

/* line 41, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green:hover {
  color: #fff;
  background-color: #2ecc71;
  top: -10px;
}

/* line 45, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green:hover .icon {
  color: #2ecc71;
  background-color: #fff;
}

/* line 49, ../../html_css_assessment/website/scss/_services.scss */
.services .service.green:hover .service-btn {
  color: #2ecc71;
  background-color: #fff;
}

/* line 79, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red {
  display: block;
  position: relative;
  top: 0;
  transition: .5s ease;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  margin: 25px 0;
  padding: 30px;
  text-align: center;
}

/* line 13, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red .icon {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  background-color: #d64541;
  margin: 0 auto 10px;
  font-size: 32px;
  line-height: 62px;
}

/* line 24, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red h2 {
  font-size: 28px;
  margin: 0 0 21px;
}

/* line 28, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red p {
  font-size: 13px;
  line-height: 22px;
}

/* line 32, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red .service-btn {
  background-color: #d64541;
  margin: 0;
}

/* line 41, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red:hover {
  color: #fff;
  background-color: #d64541;
  top: -10px;
}

/* line 45, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red:hover .icon {
  color: #d64541;
  background-color: #fff;
}

/* line 49, ../../html_css_assessment/website/scss/_services.scss */
.services .service.red:hover .service-btn {
  color: #d64541;
  background-color: #fff;
}

/* line 79, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple {
  display: block;
  position: relative;
  top: 0;
  transition: .5s ease;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  margin: 25px 0;
  padding: 30px;
  text-align: center;
}

/* line 13, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple .icon {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  background-color: #926fb1;
  margin: 0 auto 10px;
  font-size: 32px;
  line-height: 62px;
}

/* line 24, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple h2 {
  font-size: 28px;
  margin: 0 0 21px;
}

/* line 28, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple p {
  font-size: 13px;
  line-height: 22px;
}

/* line 32, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple .service-btn {
  background-color: #926fb1;
  margin: 0;
}

/* line 41, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple:hover {
  color: #fff;
  background-color: #926fb1;
  top: -10px;
}

/* line 45, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple:hover .icon {
  color: #926fb1;
  background-color: #fff;
}

/* line 49, ../../html_css_assessment/website/scss/_services.scss */
.services .service.purple:hover .service-btn {
  color: #926fb1;
  background-color: #fff;
}

/* line 79, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink {
  display: block;
  position: relative;
  top: 0;
  transition: .5s ease;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  margin: 25px 0;
  padding: 30px;
  text-align: center;
}

/* line 13, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink .icon {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  background-color: #f62459;
  margin: 0 auto 10px;
  font-size: 32px;
  line-height: 62px;
}

/* line 24, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink h2 {
  font-size: 28px;
  margin: 0 0 21px;
}

/* line 28, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink p {
  font-size: 13px;
  line-height: 22px;
}

/* line 32, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink .service-btn {
  background-color: #f62459;
  margin: 0;
}

/* line 41, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink:hover {
  color: #fff;
  background-color: #f62459;
  top: -10px;
}

/* line 45, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink:hover .icon {
  color: #f62459;
  background-color: #fff;
}

/* line 49, ../../html_css_assessment/website/scss/_services.scss */
.services .service.pink:hover .service-btn {
  color: #f62459;
  background-color: #fff;
}

/* line 79, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange {
  display: block;
  position: relative;
  top: 0;
  transition: .5s ease;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  margin: 25px 0;
  padding: 30px;
  text-align: center;
}

/* line 13, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange .icon {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #fff;
  background-color: #ce4125;
  margin: 0 auto 10px;
  font-size: 32px;
  line-height: 62px;
}

/* line 24, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange h2 {
  font-size: 28px;
  margin: 0 0 21px;
}

/* line 28, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange p {
  font-size: 13px;
  line-height: 22px;
}

/* line 32, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange .service-btn {
  background-color: #ce4125;
  margin: 0;
}

/* line 41, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange:hover {
  color: #fff;
  background-color: #ce4125;
  top: -10px;
}

/* line 45, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange:hover .icon {
  color: #ce4125;
  background-color: #fff;
}

/* line 49, ../../html_css_assessment/website/scss/_services.scss */
.services .service.orange:hover .service-btn {
  color: #ce4125;
  background-color: #fff;
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.services .service .bespoke::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.services .service .IT::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.services .service .marketing::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.services .service .telecoms::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.services .service .web::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.services .service .security::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 11, ../../html_css_assessment/website/scss/_icons.scss */
.services .service .training::before {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  content: "";
}

/* line 1, ../../html_css_assessment/website/scss/_news.scss */
.latest-news {
  padding-bottom: 32px;
}

/* line 4, ../../html_css_assessment/website/scss/_news.scss */
.latest-news h2 {
  font-size: 36px;
  font-weight: 600;
}

/* line 9, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-item {
  display: block;
  position: relative;
  margin-bottom: 32px;
}

/* line 15, ../../html_css_assessment/website/scss/_news.scss */
.latest-news a > img {
  width: 100%;
  margin: 0;
}

/* line 21, ../../html_css_assessment/website/scss/_news.scss */
.latest-news a {
  color: inherit;
  text-decoration: none;
}

/* line 27, ../../html_css_assessment/website/scss/_news.scss */
.latest-news p {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

/* line 34, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-tooltip {
  position: absolute;
  right: 0;
  top: 8px;
  color: #fff;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 23px;
  text-transform: uppercase;
}

/* line 47, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description {
  padding: 30px;
  margin: -8px 0 0;
  border: 0.5px solid #ccc;
}

/* line 52, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description h3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}

/* line 57, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description p {
  margin: 0 0 25px 0;
}

/* line 61, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description .news-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125em;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 14px;
  margin: 0 8px 30px 0;
}

/* line 73, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description .news-author {
  padding-top: 32px;
  border-top: 0.5px solid #ccc;
  display: flex;
  flex-direction: row;
}

/* line 79, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description .news-author img {
  margin: 0;
  aspect-ratio: 1;
  border-radius: 50%;
}

/* line 84, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description .news-author p {
  margin: 0;
  padding: 2px 0 2px 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

/* line 89, ../../html_css_assessment/website/scss/_news.scss */
.latest-news .news-description .news-author p strong {
  font-weight: 500;
}

/* line 96, ../../html_css_assessment/website/scss/_news.scss */
.latest-news h3 {
  font-size: 26px;
  text-align: center;
}

/* line 99, ../../html_css_assessment/website/scss/_news.scss */
.latest-news h3 a {
  text-decoration: none;
}

/* line 101, ../../html_css_assessment/website/scss/_news.scss */
.latest-news h3 a:hover {
  text-decoration: underline;
}

/* line 109, ../../html_css_assessment/website/scss/_news.scss */
.news-item.purple .news-tooltip {
  background-color: #926fb1;
}

/* line 114, ../../html_css_assessment/website/scss/_news.scss */
.news-item.purple .news-description h3 {
  color: #926fb1;
}

/* line 118, ../../html_css_assessment/website/scss/_news.scss */
.news-item.purple .news-description .news-btn {
  background-color: #926fb1;
}

/* line 109, ../../html_css_assessment/website/scss/_news.scss */
.news-item.blue .news-tooltip {
  background-color: #4183d7;
}

/* line 114, ../../html_css_assessment/website/scss/_news.scss */
.news-item.blue .news-description h3 {
  color: #4183d7;
}

/* line 118, ../../html_css_assessment/website/scss/_news.scss */
.news-item.blue .news-description .news-btn {
  background-color: #4183d7;
}

/* line 1, ../../html_css_assessment/website/scss/_partners.scss */
.partners, .cases {
  display: grid;
  grid-auto-flow: column;
  overflow: visible;
  margin: 16px 0 44px;
}

/* line 8, ../../html_css_assessment/website/scss/_partners.scss */
.partners {
  margin: 16px 0 44px;
  grid-gap: 100px;
}

/* line 12, ../../html_css_assessment/website/scss/_partners.scss */
.partners .partner-img {
  filter: grayscale(100%);
}

/* line 14, ../../html_css_assessment/website/scss/_partners.scss */
.partners .partner-img:hover {
  filter: none;
}

/* line 22, ../../html_css_assessment/website/scss/_partners.scss */
.cases {
  margin: 16px 0 8px;
  grid-auto-columns: 300px;
  grid-gap: 10px;
}

/* line 27, ../../html_css_assessment/website/scss/_partners.scss */
.cases .case-item {
  filter: grayscale(100%);
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
}

/* line 34, ../../html_css_assessment/website/scss/_partners.scss */
.cases .case-item .case-item-description {
  display: none;
  position: absolute;
  overflow: visible;
  background-color: #333645;
  color: #fff;
  text-align: center;
  padding: 20px;
  left: -10px;
  right: -10px;
  bottom: 100%;
  margin-bottom: 50px;
}

/* line 48, ../../html_css_assessment/website/scss/_partners.scss */
.cases .case-item .case-item-description h3 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 8px;
  font-weight: 400;
}

/* line 54, ../../html_css_assessment/website/scss/_partners.scss */
.cases .case-item .case-item-description p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 0;
}

/* line 59, ../../html_css_assessment/website/scss/_partners.scss */
.cases .case-item .case-item-description a {
  font-size: 16px;
  margin-top: 11px;
  margin-bottom: 0;
}

/* line 65, ../../html_css_assessment/website/scss/_partners.scss */
.cases .case-item:hover {
  filter: none;
}

/* line 67, ../../html_css_assessment/website/scss/_partners.scss */
.cases .case-item:hover .case-item-description {
  display: block;
}

/* line 1, ../../html_css_assessment/website/scss/_about.scss */
.about {
  background-color: #333645;
  color: #fff;
  padding: 40px 0 0;
  position: relative;
}

@media (min-width: 992px) {
  /* line 8, ../../html_css_assessment/website/scss/_about.scss */
  .about .container {
    display: flex;
    flex-direction: row;
  }
  /* line 11, ../../html_css_assessment/website/scss/_about.scss */
  .about .container .welcome, .about .container .clients {
    flex: 1 200px;
  }
}

/* line 17, ../../html_css_assessment/website/scss/_about.scss */
.about a:not(.btn) {
  color: #fff;
  text-decoration: none;
}

/* line 21, ../../html_css_assessment/website/scss/_about.scss */
.about a:not(.btn):hover {
  text-decoration: underline;
}

/* line 26, ../../html_css_assessment/website/scss/_about.scss */
.about .google-reviews {
  background-color: #4387f6;
}

/* line 20, ../../html_css_assessment/website/scss/_buttons.scss */
.about .google-reviews:hover {
  background-color: #1c6ef4;
}

/* line 29, ../../html_css_assessment/website/scss/_about.scss */
.about .trustpilot-reviews {
  background-color: #00b67b;
}

/* line 20, ../../html_css_assessment/website/scss/_buttons.scss */
.about .trustpilot-reviews:hover {
  background-color: #008d5f;
}

/* line 32, ../../html_css_assessment/website/scss/_about.scss */
.about .welcome-btns {
  margin-bottom: 40px;
}

/* line 35, ../../html_css_assessment/website/scss/_about.scss */
.about .clients-btns {
  margin-top: 45px;
  padding-bottom: 45px;
}

/* line 41, ../../html_css_assessment/website/scss/_about.scss */
.about h1 {
  font-size: 36px;
  margin: 0 0 32px;
  font-weight: 600;
}

/* line 46, ../../html_css_assessment/website/scss/_about.scss */
.about p {
  line-height: 1.865em;
  letter-spacing: 0.4px;
  font-weight: 400;
  margin: 0 0 25px;
}

/* line 51, ../../html_css_assessment/website/scss/_about.scss */
.about p strong {
  font-weight: 600;
}

/* line 54, ../../html_css_assessment/website/scss/_about.scss */
.about p em {
  font-weight: 600;
  font-style: italic;
  font-size: 23px;
}

/* line 61, ../../html_css_assessment/website/scss/_about.scss */
.about .client-quote {
  font-size: 18px;
  color: #a3a8ac;
  font-weight: 600;
}

/* line 65, ../../html_css_assessment/website/scss/_about.scss */
.about .client-quote a {
  font-weight: 600;
}

/* line 70, ../../html_css_assessment/website/scss/_about.scss */
.about .star {
  color: orange;
  font-size: 60px;
  margin: -25px 0 16px;
  padding: 0;
}

/* line 1, ../../html_css_assessment/website/scss/_footer.scss */
footer {
  background-color: #333645;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
}

/* line 7, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}

/* line 11, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-row .footer-menu {
  flex: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  /* line 11, ../../html_css_assessment/website/scss/_footer.scss */
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}

@media (min-width: 992px) {
  /* line 11, ../../html_css_assessment/website/scss/_footer.scss */
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}

@media (min-width: 1260px) {
  /* line 11, ../../html_css_assessment/website/scss/_footer.scss */
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
  }
}

/* line 27, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-row .footer-menu ul {
  margin: 0;
  padding-left: 0;
}

/* line 40, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-row .footer-menu li {
  list-style-type: none;
  padding: 0.1em;
}

/* line 45, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-row .footer-menu a {
  color: #fff;
  text-decoration: none;
}

/* line 49, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-row .footer-menu a:hover {
  text-decoration: underline;
}

/* line 56, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-company {
  height: 200px;
}

/* line 59, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-company .footer-social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin-top: 0;
  max-width: 0px;
}

/* line 67, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-company h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
  margin-top: 26px;
  padding-top: 0;
}

/* line 75, ../../html_css_assessment/website/scss/_footer.scss */
footer .footer-company a {
  color: #fff;
  text-decoration: none;
  background-color: #272936;
  display: block;
  width: 64px;
  height: 56px;
}

/*# sourceMappingURL=styles.css.map */